__pycache__/
*.pyc

electron/node_modules/

# personal convenience scripts, delivered via SendUserFile, not part of the app
rundictation.bat
rundemo.bat
